/* =======================position定位模型==================== */

/* 
以下为position属性的取值：

    1. static 自然模型(默认值)
        作用：块元素垂直排列，行内元素水平排列
        特点：
        (1) 忽略掉top、bottom、left、right、z-index的属性设置
        (2) 外边距的合并：两个相邻元素设置了margin，则它们之间的间距等于最大的那一个，如果相等，则外边距重叠
            注意：外边距都没消失，只是重叠了
        (3) 具有固定宽高值的元素，设置margin: 0 auto;则其左右外边距会自动扩展最大，使元素居中


    2. relative 相对定位模型
        作用：使元素成为可定位的元素(参照物)
        特点：
        (1) 可以使用top、bottom、left、right、z-index进行相对定位(相对于自身在常规流中进行偏移，可以理解为上下左右的边距，取负值就是往相反方向移动)
        (2) 元素设置了偏移量后，其自身之前存在的空间始终存在于常规流中占据一定空间
        (3) 任何元素都可以设置为relative，其子元素的绝对定位参照物就是该元素的左上角
        (4) 对浮动元素设置了relative后也可以对其进行偏移，并且控制其堆叠顺序(z-index) 

    3. abosolute 绝对定位模型
        作用：使元素脱离常规流 
        特点： 
        (1) 可以使用top、bottom、left、right、z-index进行绝对，初始状态为其最近的relative的父容器左上角(left:0,top:0)，如果设置right:0则移到到右上角
        (2) 设置了绝对定位的子元素其宽高的百分比是根据最近的relative父容器而定，无relative则相对于body
        (3) 如果其父容器均没有设置relative，则默认初始位置为body的左上角，参照物为body
        (4) 当没有给绝对定位的元素设置宽高时，若把lrtb设置为0则其会填充整个父容器
        (5) l=0 r=0 结合 margin:0 auto; 让元素水平居中，t=0 b=0 结合 margin:auto 0; 让元素垂直居，元素放在正中即为 lrtm=0 margin:auto auto;
        (6) 
            width: 400px;
            height: 200px;
            background-color: #ccc;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -200px;
            

    4. fixed 固定定位模型
        作用：继承absolute的所有特点，但是相对于的参照物是页面的视口，不会随着页面滑动而滑动，即其最近的relative父容器就是视口
        会使元素脱离常规流！


    5. sticky 磁贴定位模型
        作用：属于absolute和fixed的结合体
        应用场景：CSDN的目录栏，并不是永远处于视口的同一位置，只有当移动到某个位置时，继续往下面移动才会固定

        特点：
        (1) 如果没有给由sticky修饰的定位模型的元素设置偏移量属性，则该元素特性就是普通relative状态
        (2) 如果设置了偏移量，则浏览器会根据偏移量和该元素的宽高自动生成一个透明框在视口中，当该元素移动直到与这个视口重叠，该元素就会被固定到视口(前提是其父容器无滚动特性：overflow:scroll)
        (3) 如果其最近的父容器有偏移特性:overflow:scroll 则透明窗口的偏移标尺就是该最近的具有滚动特性的父容器的当前视口 
        (4) 不会使元素脱离常规流！即便发生偏移，其原始位置也会占据空间





*/