/* ======================CSS定位机制===================== */

/* 
    1. 普通流(标准流)：默认状态，块元素从上往下排列，行内元素从左往右排列
    2. 浮动
    3. 绝对定位

*/

/* =======================CSS float浮动的基础知识================== */

/* 
一、基本概念
    1. float可以使元素向左或向右移动，不能在垂直方向上移动元素
    2. 浮动元素碰到包含框或者另一个浮动框，浮动停止
    3. 浮动元素之后的元素将会围绕它，之前的不会受影响
    4. 浮动元素会脱离标准流，如果其上一个元素是标准流，则它们两的垂直距离不会改变，如果上一个元素也脱离了标准流，则该元素会与其同水平排列

二、基本语法
    1. float:left 靠左浮动
    2. float:right  靠右浮动
    3. float:none 不使用浮动

三、例子
    1. img标签在p标签前，给img标签设置左浮动，则p标签内的文本就会从右侧开始排版文字，达到文字围绕图片的效果
    2. 文本不会被块级元素覆盖！
    3. 块级元素的高度默认为自适应其内部的元素，即内部元素有多大，则高度有多高，如果给内部元素添加浮动后，其高度可能会发生变化
    4. 块级元素的自适应高度是根据其内部的标准流元素决定的，如果其内部都使用了浮动，那么自适应高度变为0

四、浮动的作用
    让块级元素能够在页面中进行横行展示

*/

/* ====================清除浮动的语法================== */

/* 
    1. clear:left|right|both|none, 清除该元素的左、右、两边的浮动
    2. 注意：浮动的清除仅限于清除自身已经存在的浮动
*/


/* ====================清除浮动的方法================== */

/* 
    1. 方法一：在浮动元素的后面放置一个空元素 <div class="clear"> </div>
        然后为其添加CSS属性：.clear { clear:both; }

    2. 方法二：给浮动元素的父元素添加属性：overflow:hidden; zoom:1;(兼容IE6、7)

    3. 方法三：使用CSS3的 :after 伪元素
        浮动元素的父元素:after {
            content:".";
            display:block;
            height:0;
            visibility:hidden;
            clear:both;
        }
        浮动元素的父元素 { zoom:1; } (兼容IE6、7)


    4. 清除浮动的作用：
        一个div内有三个浮动div，此时父容器div的自适应高度为0，如果在父容器后面继续添加元素，则后面的元素会与上面的浮动元素挤压重叠在一起
        清除浮动之后，上面的div父容器的自适应高度就存在了，之后再添加元素在父容器的后方就不会出现元素重叠的现象
*/