/* ================ 边框与圆角 ==================*/
/* 
一、概览
    1. 圆角
    2. 盒阴影
    3. 边界图片

二、圆角
    1. 语法：
        (1) border-radius: 15px; 设置四个角的水平垂直半径为15px
        (2) border-radius: 15px 20px;  设置主对角线上的角半径为15px，副对角线上的角半径为20px
        (3) border-radius: 10px 20px 30px; 设置左上角、副对角线和右下角
        (4) border-radius: 5px 20px 10px 10px;  从左上开始，顺时针旋转

        (5) border-radius: 5px / 10px; 设置四个角的水平半径为5px,垂直半径为10px

三、盒阴影 box-shadow
    1. 语法：
        box-shadow: 水平方向偏移量 竖直方向偏移量 模糊程度 扩展程度 颜色 外阴影还是内阴影

    2. 例子：
        box-shadow: 50px 30px 0 0 yellow;
        表示在原元素的基础上，有一个右移50px，下移30px，没有模糊且扩展的 黄色阴影

        box-shadow: 50px 30px 20px 10px gray inset;
        表示在原元素的基础上，从元素的上边偏移30px和左边偏移50px的颜色为灰色的内阴影


四、边界图片 —— 待补充
*/






